@import "_datos";

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem; 
    line-height: 1.6em;
    margin: 0;
    padding-bottom: 50px;
}
/* ----- Navegacion ----- */

.put_end{
    justify-content: flex-end;
}
#nav__logoInicio{
    /*position:fixed;*/
    width: 5rem;
    height: 5rem;
    margin-left: 50px;
}

.bg-darK{
    color: white;
    background-color: $color-primario;
}

.navin{
   /* position: fixed;
    top: 0;
    padding: 50px;
    left:0;
    width: 100%;
    color: black;*/
    background-color: $color-primario;
   /*height: 80px;*/
}

.nav__Contenedor{
    list-style: none;
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-end;
    align-items: center;
}

.nav__Enlace{
    display:inline-block;
    padding: 1rem 2 rem;
    color: white;
    font-size: 16px;
    transition:all 1s;
    margin:20px;
    text-decoration: none;
    &:hover{
        transform:translateX(5px);
        background:whitesmoke;
        color: $color-secundario;
        font-weight: bold;
    }

}
/*
.nav__Enlace:hover{
    transform:translateX(5px);
    background:whitesmoke;
    color:black;
    font-weight: bold;
    ;
}
*/
/* ----- Main ----- */
.centrado{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 50px;
}

@mixin FontStyle {
    width:30%;
        height: 5px;
        background-color: $color-primario;
        position:absolute;
        content:"";
        left: 50%;
        transform: translateX(-50%);
        animation-name: animacion;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
}
.section__Titulo{
    text-align:center;
    font-size: 30px;
    color:$color-primario;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 50px;
    padding: 1rem 0;
    margin-bottom: 2rem;
    position:relative;
    &::before{
        @include FontStyle ();
        bottom:0;

    }
    &::after{
        @include FontStyle ();
        top:0;
    }
}
/*
.section__Titulo::before{
    width:30%;
    height: 5px;
    background-color: #546D93;
    position:absolute;
    content:"";
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    animation-name: animacion;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.section__Titulo::after{
    width:30%;
    height: 5px;
    background-color: #546D93;
    position:absolute;
    content:"";
    top:0;
    left: 50%;
    transform: translateX(-50%);
    animation-name: animacion;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
*/
@keyframes animacion{
    0%{
        width:30%
    }
    50%{
        width: 50%;
        background-color:$color-primario;
    }
    100%{
        width:30%;
        background-color: red;   
    }
}

.section__Flex{
    display:flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.section__Cards{
    width: 300px;
    background-color: #c6d3e7;
    color:black;
    text-align: center;
    border-radius: 5px;
    flex-basis: 300px;
    box-shadow: 2px 2px 10px $color-secundario;
    margin-bottom:30px;
}

.cardContainetImag{
    overflow:hidden;
    align-items: center;
    height: 150px;
}

.cardImagen{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.cardContainerBody{
    padding: 1rem;
}

.tituloCard{
    font-weight: bold;
    text-transform: uppercase;
    color:$color-secundario;
    text-align: center;
    line-height: 2;
}

.parteCatalogo{
    text-align: center;
    font-weight: bold;
    background-color:$color-primario;
    width: 100%;
    padding-bottom: 30px;
}

.tituloSecundario {
    font-family: 'Ruslan Display', cursive;
    text-transform: uppercase;
    font-size: 40px;
    color:black;
    line-height: 2;
}

.boton {
    background-color: $color-primario; 
    border: 2px solid $color-secundario;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    &:hover {
        background-color: $color-secundario;
    }
}
/*
.boton:hover{
    background-color: black;
}
*/
.presentacion{
    width:100%;
    float:left;
}

.titulo{
    text-align: center;
    margin-top:10px;
    margin-bottom:20px;
}

.parrafo{
    margin-left: 20px;
}

.presentacion img{
    float:left;
    margin-right: 15px;
    margin-bottom: 20px;
}

.armadoContacto{
    background-image:linear-gradient(to right,$color-primario , white);
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex:wrap;
    justify-content: space-around;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}

.tamanoContacto{
    width: 50px;
    height: 50px;
}

.sectionDivision{
    display:grid;
    grid-template-columns: 400px 400px 400px;
    gap: 15px;
    margin: 15px;
    justify-content: space-around;
}

.tituloProducto{
    font-size: 25px;
}
.divSection{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    border:dashed 2px $color-primario;
}

.tamanoProducto{
    width: 150px;
    height: 150px;
}


.sectionDetalle {
    align-items: center;
    width:100%;
    justify-items: center;
    font-size: 14px;
    margin-left: 300px;

}

.centrar{
    display:flex;
    justify-content: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
}
.sectionNovedad{
    width: 60%;
    display:grid;
    grid-template-columns: 400px 400px 400px;
    background: radial-gradient($color-primario, white);
    color:black;
    text-align: center;
    border-radius:10px;
    flex-basis: 600px;
    box-shadow: 5px 5px 20px black;
    margin-bottom:30px;
    justify-content: space-around;
}

.cardImagenNovedad{
    margin-top: 30px;
    width: 150px;
    height: 150px;
    display: inline-block;
    margin-left: 200px;
    &:hover{
        transform:scale(1.2,1)
    }
}
/*
.sectionNovedad:hover{
    transform:scale(1.2,1)
}
*/
.tituloh2{
    text-align: center;
    color:$color-primario;
    margin-bottom: 10px;
}


#formularioBorder{
    width: 500px;
    height: 350px;
    height: auto;
    font-size: 12px;
    align-items: center;
    border-color: blue;
    background-color: cornflowerblue;
}

.letraForm{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color:$color-primario;
}

.columnaContacto{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    width:100%;
    color:$color-secundario;
    height: auto;
    padding-top: 25px;
    margin-bottom:25px;
    list-style: none;

}

.containerContacto{
    display:inline-block;
    flex-wrap:wrap;
    justify-content: space-between;
    font-size:15px;
    list-style: none;


}

.columna{
    flex-direction: column;
    justify-content: center;
}

.taman{
    margin-top: 10px;
    display:flex;
    width: 50px;
    height: 50px;
}

.sacarPunto{
    list-style: none;
}

/* ----- Footer ----- */
#logoFooter{
    width: 7rem;
    height: 7rem;
    margin-left: 50px;
}

.miFooter{
    display: inline-block;
    background:$color-secundario;
    width:100%;
    color:white;
    height: auto;
    padding-top: 20px;
}

.containerFooter{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    font-size:15px;
    justify-items: center;
}

.colum{
    display:flex;
    flex-direction: column;
}

.colum a{
    margin-top:10px;
    color: white;
    text-decoration: none;
}
.colum a:hover{
    opacity:0.8;
}

.letraChica{
    font-size:10px;
    text-align: center;
    padding-bottom: 1px;
}

.terms{
    margin-top:15px;
    list-style: none;
    display:inline-block;
    margin-right: 60px;
}

#facebook{
    color: #1877f2;
    line-height : 5px;
}

#instagram{
    color: #5851db;
    line-height : 5px;
}


/* ----- Mobile First----- 
@media only screen and (max-width: 780px) {
.header{
    background-color:black;
    }
    #logo{
        width: 2rem;
        height: 2rem;
    }
    .header nav ul a{
        font-size: 10px;
        color:yellow;
        padding: 5px 20px;
    }

    .header nav ul a:hover{
        background: #546D93;
        color:white;
    }
        
    .header nav ul li ul{
        background: black;
    }
        
    .header nav ul li ul li{
        width: 80px;
    }
}
*/